@model IEnumerable<WebApplication18.DBContext.Lisiting>
<style>
    body {
        background-color: cadetblue;
    }
</style>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Com_JobPosition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Com_CareerField)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Com_Location)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Com_JobPosition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Com_CareerField)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Com_Location)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Company_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Company_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Company_ID })
        </td>
    </tr>
}

</table>
